*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:4% 2%;
    font-size: 14px;
}

body{
    background-color: bisque;
    align-content: center;
}

section {
    border: 4px solid pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 650px;
    margin: 0 auto;
    padding: 1%;

}

nav{
    margin: 10px;
    border: 3px solid pink;
    border-radius: 10px;
    padding: 10px;
}

section input {
    width: 231px;
    height: 31px;
}

label {
    display: block;
    font-weight: bold;
}


.button-container {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 10px; 
}

.button {
    background-color: black;
    color: azure;
}

.image_container {
    
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px; 
}

.home_img {
    flex-basis: 40%; 
    margin: 10px;
    height:auto;
    width: 10%;
}

@media (max-width: 768px) {
    .home_img {
        flex-basis: calc(100% - 10px); /* Adjust according to your preference */
    }
}